table{
    table-layout:fixed;
}

th.capacity, th.price, th.room, th.more {
    width: 7%;
}

th.description{
    width: 50%;
}

th.type, th.client, th.date_check_in_out, th.status {
    width: 10%;
}

th.picture{
    width: 15%;
}

#header {
    background-image: url(/resources/photos/main.jpg);
    background-size: cover;
    height: 300px;
}

#links {
    position: relative;
    font-size: 200%;
    top:75%;
}

a:link {
    color: deepskyblue;
}

a:visited {
    color: blue;
}

input[type = submit] {
    color: whitesmoke;
    background-color: darkblue;
    font-size: 150%;
}

.thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
}

.thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
}

.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
}